.topContainer{
  width: 25em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  transition: background-color 0.50s linear;
  background-color: var(--theme-skill-background);
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.title{
  font-size: 1.5em;
  margin-bottom: 0.5em;
  letter-spacing: 0.05em;
}
.techContainer{
  width: 22em;
  background-color: khaki;
  margin-bottom: 1em;
  box-sizing: border-box;
  padding: 5px 8px 4px 8px;
  display: flex;
  flex-direction: row;
}

.infoContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: lavenderblush;
  margin: 0 0 1px 12px;
}