.bodyContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 105vh;
  padding: 1em 1em 1.5em 1em;
  transition: background-color 0.50s linear;
}
.title{
  font-size: 1.9em;
  border-bottom: 0.1em solid;
  padding-bottom: 0.1em;
  margin-bottom: 1.5em;
  letter-spacing: 0.1em;
}