.bodyContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  margin-bottom: 2em;
  padding: 0.8em 1em 3em 1em;
  transition: background-color 0.50s linear;

  .innerContainer{
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
.title{
  font-size: 1.8em;
  border-bottom: 0.1em solid;
  padding-bottom: 0.1em;
  margin-bottom: 1.5em;
  letter-spacing: 0.1em;
}