$desk_height:11em;
$desk_width: 40em;

$board_width: max(40%, 30em);

.outerContainer{
  width: 100%;
  height: max(40em, 100vh);
  margin-bottom: 4em;
  background-color: var(--theme-room-background);
  transition: background-color 0.5s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerContainer{
  width: 100%;
  max-width: 90em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.boardContainer{
  position: absolute;
  height: 100%;
  width: $board_width;
  left: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  filter: brightness(var(--theme-object-opacity));
  transition: filter 0.5s linear;
}

.boardBottomHolder{
  width: 100%;
  height: 10.5em;
  border-width: .8em .6em 0em .6em;
  border-color: silver;
  border-style: solid;
  box-sizing: border-box;
}

.boardMiddleHolder{
  width: 100%;  
  height: 14em;
  border-width: 0em 0.6em 0em 0.6em;
  border-color: silver;
  border-style: solid;
  box-sizing: border-box;
}

.boardConnectorContainer{
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.boardConnectorLeft{
  height: 0.8em;
  border-left: solid silver 0.9em;
  border-right: solid black 0.6em;
  background-color: black;
}

.boardConnectorRight{
  height: 0.8em;
  border-left: solid black 0.6em;
  border-right: solid silver 0.9em;
  background-color: black;
}

.board{
  position: absolute;
  width: calc(100% - 3em);
  height: 18em;
  background-color: white;
  left: 1.5em;
  bottom: 16em;
  box-sizing: border-box;
  border: solid silver 0.5em;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Caveat', cursive;
  color: red;
  h1{
    color: black;
    font-size: 3em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
  }
  h2{
    color:blue;
    font-size: 1.6em;

  }
}

.markerHolder{
  width: calc(100% - 1.1em);
  height: 0.55em;
  background-color: rgb(84, 84, 84);
  position: absolute;
  left: 0.55em;
  bottom: 10.5em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: visible;
}

.blackPen{
  width: 2.5em;
  height: 0.25em;
  background-color: whitesmoke;
  border-left: solid black 0.5em;
  box-sizing: border-box;
}

.bluePen{
  width: 2.5em;
  height: 0.25em;
  background-color: whitesmoke;
  border-left: solid blue 0.5em;
  box-sizing: border-box;
  margin: 0em 3em 0em 2em;
}

.eraser{
  width: 3em;
  border-top: solid lightskyblue .7em;
  border-bottom: solid black .45em;
  margin-right: 2em;
}

.sideBoardText{
  position: absolute;
  color: red;
  font-size: 0.9em;
  left: 0.5em;
  top: 2em;
  transform: rotate(-20deg);
  text-decoration: underline;
  border-bottom: solid red 0.1em;
}

.toDoText{
  position: absolute;
  color: red;
  font-size: 0.7em;
  top: 0.5em;
  right: 6em;
  transform: rotate(-20deg);
}

.postIT{
  width: 4em;
  color: black;
  font-size: 0.9em;
  padding: 0.4em 0.3em;
  box-sizing: border-box;
  background-color: khaki;
  position: absolute;
  font-family: 'Nanum Pen Script', cursive;
  position: absolute;
  top: 1.5em;
  right: 1em;
  text-align: center;
  transform: rotate(10deg);
}

.animationSection{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: $desk_width + 1em;
  height: 100%;
}

.table{
  height: $desk_height;
  width: $desk_width;
  bottom: 0;
  position: absolute;
  border: solid wheat;
  border-width: 1.7em 0em 0em 1.5em;
  box-sizing: border-box;
  border-radius: 0.5em 0.5em 0em 0em;
  display: flex;
  justify-content: flex-end;
  filter: brightness(var(--theme-object-opacity));
  transition: filter 0.5s linear;
}

.tableSide{
  width: 15em;
  background-color: wheat;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tableCabinet{
  width: 13em;
  height: 3.5em;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.tableHolder{
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: brown;
}

.laptopContainer{
  display: flex;
  width: 18em;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  position: absolute;
  bottom: $desk_height - .3em;
  z-index: 2;
  filter: brightness(calc(var(--theme-object-opacity) + 0.2));

}

.laptopScreen{
  width: 28em;
  height: 16em;
  border:solid black;
  border-width: 1em 1em;
  border-radius: 1.2em 1.2em 0 0;
  box-sizing: border-box;
  padding: 0.8em;
  padding-top: 1.5em;
  font-size: 0.5em;
  white-space: pre-wrap;
  -webkit-text-size-adjust: none;
  background-color: var(--theme-monitor-color);
  color: var(--theme-monitor-text-color);
  position: relative;
  transition: background-color 0.2s linear;
  transition: color 0.2s linear;
}

.redCircle{
  width: 0.5em;
  height: 0.5em;
  background-color: red;
  border-radius: 0.25em;
  margin-right: 0.5em;
}

.yellowCircle{
  width: 0.5em;
  height: 0.5em;
  background-color: yellow;
  border-radius: 0.25em;
  margin-right: 0.5em;
}

.greenCircle{
  width: 0.5em;
  height: 0.5em;
  background-color: green;
  border-radius: 0.25em;
}

.laptopTop{
  position: absolute;
  left: 0;
  top: 0;
  width: 26em;
  height: 1em;
  background-color: var(--theme-monitor-top-color);
  padding: 0em 0.3em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: background-color 0.2s linear;
}

.paddingLeft{
  padding-left: 2em;
}

.laptopBottom{
  width: 16.5em;
  height: 0.8em;
  border-radius: 100%/0 0 0.8em 0.8em;
  background-color: rgb(149, 149, 149);
}


.coffeeContainer{
  position: absolute;
  left: 22em;
  bottom: $desk_height;
  display: flex;
  flex-direction: row;
  align-items: center;
  filter: brightness(var(--theme-object-opacity));
  transition: filter 0.5s linear;
}

.trapezoid {
  border-top: 3em solid red;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  height: 0;
  width: 1.5em;
}
.cupHolder{
  width: 1em;
  height: 0.8em;
  border: solid red;
  border-width: 0.2em 0.2em 0.2em 0em;
  border-radius: 0.5em;
  position: absolute;
  right: -0.5em;
  transform: rotate(5deg);
}

.lightContainer{
  width: 25em;
  height: 25em;
  position: absolute;
  bottom: $desk_height;
  right: 4em;
  filter: brightness(var(--theme-object-opacity));
  transition: filter 0.5s linear;
  z-index: 2000;
  color:transparent;
}

.mainBottom{
  width: 6em;
  height: 0.6em;
  background-color: gray;
  position: absolute;
  right: 0;
  bottom: 0;
}

.firstLightHolder{
  width: 0.8em;
  height: 12em;
  border: solid 0.35em gray;
  border-radius: 1em;
  position: absolute;
  bottom: 0em;
  right: 1.5em;
  transform: rotate(10deg);
  transform-origin: 50% 100%;
  box-sizing: border-box;
}

.firstLightConnector{
  width: 0.5em;
  height: 0.5em;
  background-color: rgb(70, 70, 70);
  border-radius: 0.6em;
  position: absolute;
  right: -0.2em;
  top: -0.1em;
}

.secondLightConnector{
  width: 0.5em;
  height: 0.5em;
  background-color: rgb(70, 70, 70);
  border-radius: 0.6em;
  position: absolute;
  right: 0em;
  top: 0.2em;
}

.secondLightHolder{
  width: 0.8em;
  height: 15em;
  border: solid 0.35em gray;
  border-radius: 1em;
  position: absolute;
  bottom: 11.2em;
  right: -0.8em;
  transform: rotate(-60deg);
  transform-origin: 50% 100%;
  box-sizing: border-box;
}

.mainTop{
  width: 9em;
  height: 0.8em;
  background-color: gray;
  position: absolute;
  bottom: 18.15em;
  right: 12em;
  border-radius: 0em 1em 1em 0em;
}
.lightblub{
  width: 8em;
  height: 0.2em;
  background-color: var(--theme-bulb-color);
  filter: brightness(4);
  position: absolute;
  bottom: 17.95em;
  right: 12.8em;
  border-radius: 0em 0em 1em 1em;
  transition: background-color 0.5s linear;
  transition-delay: 0.6s;
}

.lightTrapezoid{
  border-bottom: 18.1em solid;
  border-left: 12em solid transparent;
  border-right: 12em solid transparent;
  color: var(--theme-light-color);
  height: 0;
  width: 8em;
  position: absolute;
  bottom: 0em;
  right: 0.8em;
  transition: color 0.5s linear;
  transition-delay: 0.6s;
  filter: brightness(4);
}

@media (max-width: 42em){
  
  .animationSection{
    width: 0em;
    overflow: hidden;
  }

  .boardContainer{
    width: calc(100% - 2em);
    position: relative;
    left: unset;
    h1{
      font-size: 2.5em;
      text-align: center;
    }
  }
}