$desk_height: 6em;
$desk_width: 40em;

.container{
  width: 100%;
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 4em;

  h1{
    font-family: 'Caveat';
  }
  h2{
    font-family: 'Caveat';
  }
}

.boardContainer{
  position: absolute;
  height: 100%;
  width: 30em;
  background-color: honeydew;
  left: 1em;
}

.animationSection{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: $desk_width + 1em;
  height: 100%;
}

.table{
  height: $desk_height;
  width: $desk_width;
  bottom: 0;
  position: absolute;
  border: solid wheat;
  border-width: 1.7em 0em 0em 1.5em;
  box-sizing: border-box;
  border-radius: 0.5em 0.5em 0em 0em;
  display: flex;
  justify-content: flex-end;
  opacity: var(--theme-object-opacity);
  transition: opacity 0.5s linear;
}

.tableSide{
  width: 15em;
  background-color: wheat;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tableCabinet{
  width: 13em;
  height: 3.5em;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableHolder{
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: greenyellow;
}

.laptopContainer{
  display: flex;
  width: 18em;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  position: absolute;
  bottom: $desk_height - .3em;
  z-index: 2;
 
}

.laptopScreen{
  width: 14em;
  height: 8em;
  border:solid black;
  border-width: 0.8em 0.8em;
  border-radius: 0.8em 0.8em 0 0;
  box-sizing: border-box;
  background-color: darkslategray;
}

.laptopBottom{
  width: 16.5em;
  height: 0.8em;
  border-radius: 100%/0 0 0.8em 0.8em;
  background-color: rgb(149, 149, 149);
}


.coffeeContainer{
  position: absolute;
  left: 22em;
  bottom: $desk_height;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: var(--theme-object-opacity);
  transition: opacity 0.5s linear;
}

.trapezoid {
  border-top: 3em solid red;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  height: 0;
  width: 1.5em;
}
.cupHolder{
  width: 1em;
  height: 0.8em;
  border: solid red;
  border-width: 0.2em 0.2em 0.2em 0em;
  border-radius: 0.5em;
  position: absolute;
  right: -0.5em;
  transform: rotate(5deg);
}

.lightContainer{
  width: 25em;
  height: 25em;
  position: absolute;
  bottom: $desk_height;
  right: 4em;
  opacity: var(--theme-object-opacity);
  transition: opacity 0.5s linear;
  z-index: 2000;
}

.mainBottom{
  width: 6em;
  height: 0.6em;
  background-color: gray;
  position: absolute;
  right: 0;
  bottom: 0;
}

.firstLightHolder{
  width: 0.8em;
  height: 12em;
  border: solid 0.35em gray;
  border-radius: 1em;
  position: absolute;
  bottom: 0em;
  right: 1.5em;
  transform: rotate(10deg);
  transform-origin: 50% 100%;
  box-sizing: border-box;
}

.firstLightConnector{
  width: 0.5em;
  height: 0.5em;
  background-color: rgb(70, 70, 70);
  border-radius: 0.6em;
  position: absolute;
  right: -0.2em;
  top: -0.1em;
}

.secondLightConnector{
  width: 0.5em;
  height: 0.5em;
  background-color: rgb(70, 70, 70);
  border-radius: 0.6em;
  position: absolute;
  right: 0em;
  top: 0.2em;
}

.secondLightHolder{
  width: 0.8em;
  height: 15em;
  border: solid 0.35em gray;
  border-radius: 1em;
  position: absolute;
  bottom: 11.2em;
  right: -0.8em;
  transform: rotate(-60deg);
  transform-origin: 50% 100%;
  box-sizing: border-box;
}

.mainTop{
  width: 9em;
  height: 0.8em;
  background-color: gray;
  position: absolute;
  bottom: 18.15em;
  right: 12em;
  border-radius: 0em 1em 1em 0em;
}
.lightblub{
  width: 8em;
  height: 0.2em;
  background-color: var(--theme-bulb-color);
  position: absolute;
  bottom: 17.95em;
  right: 12.8em;
  border-radius: 0em 0em 1em 1em;
  transition: background-color 0.5s linear;
  transition-delay: 0.6s;
}

.lightTrapezoid{
  border-bottom: 18.1em solid var(--theme-light-color);
  border-left: 12em solid transparent;
  border-right: 12em solid transparent;
  height: 0;
  width: 8em;
  position: absolute;
  bottom: 0em;
  right: 0.8em;
  transition: border-color 0.5s linear;
  transition-delay: 0.6s;
}

