.listSection{
  font-size: 0.8em;
  margin-top: 1em;
  margin-left: 1em;
  line-height: 1.4em;
  opacity: 0.8;
  position: relative;
  list-style-type: none;


  li{
    padding-left: 2em;
    margin: 0.5em 0em;
  }
  
  li:before {
    content: '✓';
    position: absolute;
    left: 0;
  }

}

.tagsContainer{
  display: flex;
  flex-direction: row;
  width: '100%';
  align-items: center;
  margin: 1em 0em;

  i{
    font-size: 0.7em;
    margin-bottom: 0.2em;
  }
}

.positionContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}


.closeButton{
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.closeButton:hover{
  opacity: 0.4;
}

.imageContainer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

