.container{
  width: calc(100% - 4em);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 2em;
  margin: 1em 0em;
  background-color: var(--theme-slider-background-2);
  min-height: 35em;
  max-width: 84em;
}

.tabContentsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  column-gap: 2em;
  row-gap: 2em;
  flex: 1;
  box-sizing: border-box;
  padding:0em 2em;
}

@media (min-width: 700px){
  .container{
   padding: 2em 0em;
  }
}