.container{
  width: calc(100% - 4em);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 2em;
  margin: 1em 0em;
  background-color: var(--theme-slider-background-2);
  max-width: 84em;
  margin-bottom: auto;
}

.tabContentsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  column-gap: 2em;
  row-gap: 2em;
  flex: 1;
  box-sizing: border-box;
  padding:0em 2em;
}

@media (min-width: 700px){
  .container{
   padding: 2em 0em;
  }
}

@media (min-width: 86em){
  .tabContentsContainer{
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    padding: 0em 3em;
    column-gap: 3em;
    row-gap: 3em;
  }
}

@media (max-width: 32em){
  .tabContentsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    column-gap: 0.5em;
    row-gap: 2em;
    padding: 0em;
  }

  .container{
    width: calc(100%);
    padding: 1em;
  }
}