.navBarStyle{
  width: 100%;
  height: 5em;
  color: var(--theme-color);
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2em;
  box-sizing: border-box;
  transition: all 0.50s linear;
  backdrop-filter: blur(1px);
  z-index: 1000;

  ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    li{
      font-size: 1.05em;
      margin: 0 1em;
      cursor: pointer;
      font-weight: bold;
      letter-spacing: 0.2em;
      line-height: 1.8em;
    }

    li::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: var(--theme-color);
      transition: width .3s;
    }
    li:hover::after {
      width: 100%;
    }
    li:hover{
      opacity: 0.6;
    }
  }
}

.logoSectionContainer{
  display: flex;
  flex-direction: row;
  width: 8em;
  align-items: center;
  justify-content: space-between;
}



