.container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skillContainer{
  display: flex;
  flex-direction: row;
  width: calc(100% - 4em);
  justify-content: space-around;
  flex-wrap: wrap;
}