.container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skillContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

@media (max-width: 64em){
  .skillContainer{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}