
html,body{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--theme-page-background);
    color: var(--theme-color);
    transition: background-color 0.50s linear;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #781b23 11.98%, #073873 94.79%);
    border-radius: 0.5em;
    height:30px;
}
body::-webkit-scrollbar-track-piece
{
    background-color: var(--theme-page-background);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: var(--theme-color);
}