
html,body{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--theme-page-background);
    color: var(--theme-color);
    height: 100%;
    transition: background-color 0.50s linear;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: var(--theme-color);
}

.logo {
    background-image: url('img/tiny.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.active {
    color: pink;
}